.container {
  padding: 2rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

.selectionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.racesList, .driversList {
  background-color: #1a1a1a;
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid #333;
}

.listTitle {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  border-left: 4px solid var(--trackstar-red);
  padding-left: 1rem;
}

.listItem {
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.listItem:hover {
  background-color: #2a2a2a;
}

.listItem.selected {
  background-color: #2a2a2a;
  border-color: var(--trackstar-red);
}

.listItem h3, .listItem h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.listItem p {
  color: #aaa;
}

.analysisButtonContainer {
  margin-top: 2rem;
  text-align: center;
}

.analysisButton {
  background-color: var(--trackstar-red);
  color: var(--trackstar-white);
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.analysisButton:hover {
  background-color: var(--trackstar-red-dark);
}
